@import "tailwindcss/base";
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

.comic-background {
  background-color: transparent; /* Jasny, ciepły kolor tła */
  background-image: radial-gradient(circle, #ffffff 15%, transparent 0%);
  background-size: 30px 30px; /* Rozmiar kropek */
  
  -webkit-mask-image: linear-gradient(to bottom right,black 40%, transparent 50%, black 60%);
  mask-image: linear-gradient(to bottom right,black 40%, transparent 50%, black 60%);
  animation: moveBackground 80s linear infinite;
}

@media (min-width: 1920px) {
  .comic-background {
    -webkit-mask-image: linear-gradient(to bottom right,black 30%, transparent 50%, black 70%);
  mask-image: linear-gradient(to bottom right,black 30%, transparent 50%, black 70%);
    background-size: 40px 40px; /* Rozmiar kropek dla bardzo dużych ekranów */
    background-image: radial-gradient(circle, #ffffff 17%, transparent 0%);
  }
}
.text-gradient {
  background: linear-gradient(to right, #eab308, #f97316);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}